* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #1a1a1a; /* 다크모드 베이스 */
  overflow-x: hidden;
}

#root {
  width: 100vw;
  min-height: 100vh;
}
